<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <error-page>
    <location>/api/v1/error</location>
  </error-page>

  <!-- SMTP settings -->
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>

  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>

  <context-param>
    <param-name>email</param-name>
    <param-value>shopme293@gmail.com</param-value>
  </context-param>

  <context-param>
    <param-name>password</param-name>
    <param-value>nxcyezzyxxuqvxor</param-value>
  </context-param>

</web-app>