<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <error-page>
    <location>/api/v1/error</location>
  </error-page>

  <!-- SMTP settings -->
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>

  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>

  <context-param>
    <param-name>email</param-name>
    <param-value>shopme293@gmail.com</param-value>
  </context-param>

  <context-param>
    <param-name>password</param-name>
    <param-value>nxcyezzyxxuqvxor</param-value>
  </context-param>

<!-- ====================CORS================== -->
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.api.filter.Cors</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!-- ================Login require================ -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.api.filter.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/api/v1/user/*</url-pattern>
    <url-pattern>/api/v1/cart/*</url-pattern>
    <url-pattern>/api/v1/wishlist/*</url-pattern>
    <url-pattern>/api/v1/bill/*</url-pattern>
    <url-pattern>/api/v1/dashboard</url-pattern>
  </filter-mapping>
<!-- =================admin change data product============ -->
  <filter>
    <filter-name>ProductFilter</filter-name>
    <filter-class>com.api.filter.ProductFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ProductFilter</filter-name>
    <url-pattern>/api/v1/products/*</url-pattern>
  </filter-mapping>

</web-app>